#papermill-box { width:862px; margin-bottom:10px; }
#papermill-box #left { float:left; width:400px; padding-bottom:10px; }
#papermill-box #right { float:right; width:420px; margin-left:20px; border-left:2px solid GREY; padding-left:20px; padding-bottom:10px; }
#papermill-box input.text_field { width:400px; margin:5px 0; }
#papermill-box textarea { width:403px; height:100px; margin:5px 0; }
#papermill-box label {  }
#papermill-box p { padding: 3px 0; margin:0;}

#papermill-box #footer { text-align:center; font-size:10px; padding:5px }
#papermill-box #read-write { margin:10px 0 0 5px; }

#papermill-box #error { color:red; padding:10px; margin:10px; border:1px dashed green; background-color:#DDD; }

#papermill-box .right-cell {}
#papermill-box .left-cell {font-weight:bold; padding-right:10px; text-align:right;}


#jGrowl.jGrowl .notice {
background: green;
}
#jGrowl.jGrowl .warning {
background: orange;
}
#jGrowl.jGrowl .error {
background: red;
}

.papermill { overflow:hidden; }
.papermill a img { border:0px; }
.papermill .asset:hover { border-color:blue; }
.papermill .asset a { display:block;  }
.papermill .progress { display:block; border:1px solid #C2E3EF; text-align:left; height:6px; }
.papermill .progress span { background:#7BB963; height:6px; width:0; display:block; }

.papermill .dashboard li a { display:inline; padding-left:20px }
.papermill .dashboard li.mass_edit a { background:transparent url(/papermill/images/mass-edit.png) no-repeat top left; }
.papermill .dashboard li.mass_delete a { background:transparent url(/papermill/images/mass-delete.png) no-repeat top left; }
.papermill .dashboard li.mass_thumbnail_reset a { background:transparent url(/papermill/images/mass-thumbnail-reset.png) no-repeat top left; }

.papermill-thumb-container { position:relative; border:5px solid #EEE; padding:4px; overflow:hidden; }	
.papermill-thumb-container .asset { border:0px solid transparent; min-height:25px; min-width:25px; display:block; float:left; position:relative; }
.papermill-thumb-container .asset span { display:block; }
.papermill-thumb-container .asset .delete { position:absolute; bottom:5px; right:5px;  }
.papermill-thumb-container .asset .name { font-size:10px; overflow:hidden; font-weight:bold; }
.papermill-thumb-container .asset .infos { font-size:8px; overflow:hidden; }
.papermill-thumb-container .asset .status { margin-bottom:10px; }

.papermill-asset-container {  border:1px solid #EEE; padding:3px; }
.papermill-asset-container .asset { display:block; height:22px; }
.papermill-asset-container .asset .swfupload .name { margin-left:21px; }
.papermill-asset-container .asset .name { float:left; }
.papermill-asset-container .asset .status { margin-left:5px; float:left; }
.papermill-asset-container .asset .progress { float:left; margin-top:6px; margin-left:5px; width:100px; }
.papermill-asset-container .asset .delete { float:left; margin-top:2px; margin-right:5px; }

.papermill-thumb-container.papermill-multiple-items .asset { cursor:move; }

.papermill-asset-container.papermill-multiple-items { padding-left:10px; border-left:5px solid #EEE; min-height:44px; }
.papermill-asset-container.papermill-multiple-items .asset { cursor:row-resize; }

.papermill-asset-container.papermill-unique-item { padding-left:5px; min-height:22px; }

/* Need some backgrounds?
.papermill .asset { background:transparent url(/papermill/images/background.png) repeat top left; }
.papermill-thumb-container { background:transparent url(/papermill/images/container-background.jpg) repeat top left; }
*/
